.row {
    margin-left: 25rem;
    width: 20rem;
    text-align: start;
    background-color: rgb(255, 255, 255);
    margin-right: 15rem;
    margin-top: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.was-validated {
    margin-left: 25rem;
    width: 20rem;
    text-align: start;
    background-color: rgb(255, 255, 255);
    margin-right: 15rem;
    margin-top: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.col-4 {
    text-align: start;
    width: 25rem;
}

/* blue button */
.btn {
    background-color: #cfe4e1;
    border-color: rgba(252, 246, 246, 0.3);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
}

.btn {
    background-color: #102724;
    border-color: rgba(7, 6, 6, 0.87);
}

.btn {
    background-color: #102724;
    border-color: rgba(17, 15, 15, 0.986);
}

button {
    background-color: #102724;
    border-color: rgba(252, 246, 246, 0.3);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 1rem;
}

button {
    background-color: #102724;
    border-color: rgba(22, 21, 21, 0.87);
}

button {
    background-color: #102724;
    border-color: rgba(26, 23, 23, 0.986);
}