.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #f57e7e;
}

text-light {
    color: #190204 !important;
}

.card-text {
    color: black;
}

.login {
    width: 30rem;
    text-align: center;
    background-color: #96d1c7;
    opacity: 0.7;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #190204;
}

.nuevoposteo {
    width: 50rem;
    text-align: center;
    background-color: #96d1c7;
    opacity: 0.7;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    justify-content: center;
    align-items: center;
    color: #190204;
}

.recuperarcontraseña {
    width: 40rem;
    text-align: center;
    background-color: #96d1c7;
    opacity: 0.7;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    justify-content: center;
    align-items: center;
    color: #190204;
}

.registro2 {
    width: 20rem;
    margin-left: 0px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #0e0e0e;
}

.btnregenviar {
    background-color: #f57e7e;
    border: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-bottom: 10px;
}

.btnregenviar:hover {
    background-color: #e7a7a7;
}

.cartalistaproyect {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #f57e7e;
}

.form-holder {
    color: #f57e7e;
}

.form-content {
    color: #f57e7e;
}

.btnewpost:hover {
    background-color: #e7a7a7;
}

.btnewpost {
    background-color: #f57e7e;
    border: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btnewpost:hover {
    background-color: #e7a7a7;
}

.botonnavlog {
    background-color: #f57e7e;
    border: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.botonnavlog:hover {
    background-color: #e7a7a7;
}

.botonlogenviar {
    background-color: #f57e7e;
    border: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-bottom: 10px;
}

.botonlogenviar:hover {
    background-color: #e7a7a7;
}

h1 {
    color: #190204;
}