/* body {
    background-image: url("") !important;
    background-size: cover;
    /* background-repeat: no-repeat; */
/* background-position: center; */
/* background-attachment: fixed;
    background-size: 100%;  */
/* */

body {
    background-image: url("https://cdn.create.vista.com/api/media/medium/457665436/stock-photo-abstract-green-orange-yellow-gradient?token=") !important;
    background-color: #fdd365 !important;
    background-position: center center !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

@media only screen and (min-width: 600px) {
    .body {
        background-image: none;
    }
}